/* DASHBOARD APPLICATION  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --grey: #F1F0F6;
	--darkMagenta: #1F2544;
	--lightMagenta:#474F7A;
	--violet: #81689D;
	--pink: #FFD0EC;
	--black: #000
}

html {
	overflow-x: hidden;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}







/* SIDEBAR */
#sidebar {
	position: fixed;
	max-width: 260px;
	width: 100%;
	background: var(--lightMagenta);
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
	overflow: scroll;
}
#sidebar.hide {
	max-width: 60px;
}
#sidebar.hide:hover {
	max-width: 260px;
}
#sidebar::-webkit-scrollbar {
	display: none;
}
#sidebar .brand {
	font-family: 'Dancing Script', cursive;
	font-size: 29px;
	display: flex;
	align-items: center;
	height: 64px;
	font-weight: 700;
	color: var(--grey);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background: var(--lightMagenta);
	transition: all .3s ease;
	padding: 0 6px;
}
#sidebar .icon {
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
}
#sidebar .icon-right {
	margin-left: auto;
	transition: all .3s ease;
}
#sidebar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
	transition: all .3s ease;
}
#sidebar.hide .side-menu {
	padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
	padding: 0 20px;
}
#sidebar .side-menu a {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: var(--grey);
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
	background: var(--darkMagenta);
}
#sidebar .side-menu > li > a.active .icon-right {
	transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
	background: var(--darkMagenta);
	color: var(--pink);
}
#sidebar .divider {
	font-family: "dancing script" sans-serif;
	margin-top: 24px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	color: #F1F0F6;
	transition: all .3s ease;
	white-space: nowrap;
}
#sidebar.hide:hover .divider {
	text-align: left;
}
#sidebar.hide .divider {
	text-align: center;
}
#sidebar .side-dropdown {
	padding-left: 54px;
	max-height: 0;
	overflow-y: hidden;
	transition: all .15s ease;
}
#sidebar .side-dropdown.show {
	max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
	color: var(--pink);
}
#sidebar .ads {
	width: 100%;
	padding: 20px;
}
#sidebar.hide .ads {
	display: none;
}
#sidebar.hide:hover .ads {
	display: block;
}
#sidebar .ads .wrapper {
	background: #FFD0EC;
	padding: 20px;
	border-radius: 10px;
}






/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}
#sidebar.hide + #content {
	width: calc(100% - 60px);
	left: 60px;
}
/* NAVBAR */
nav {
	background: var(--light);
	height: 64px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	grid-gap: 10px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}
nav .toggle-sidebar {
	font-size: 18px;
	cursor: pointer;
}
nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}


nav .profile {
	position: relative;
}
nav .profile img {
	margin-top: 40px;
	margin-right: 40px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

nav .profile-title {
	color: #090714;
	margin: 0;
}
nav .profile .profile-link {
	color: #c14d74;
	position: absolute;
	margin-right: 120px;
	right: 0;
	padding: 10px 0;
	box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.226);
	border-radius: 10px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
	translate: 0 -20%;
}
nav .profile .profile-link.show {
	background-color: var(--lightMagenta);
	color: #F1F0F6;
	opacity: 1;
	pointer-events: visible;
	top: 100%;
}
nav .profile .profile-link a {

	padding: 10px 16px;
	display: flex;
	grid-gap: 10px;
	font-size: 14px;
	color: var(--dark);
	align-items: center;
	transition: all .3s ease;
}
nav .profile .profile-link a:hover {
	background: var(--darkMagenta);
	color: #FFD0EC;
}
/* NAVBAR */



/* MAIN */
main {
	width: 100%;
	padding: 24px 20px 20px 20px;
}
main .title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}
main .breadcrumbs {
	display: flex;
	grid-gap: 6px;
}
main .breadcrumbs li,
main .breadcrumbs li a {
	font-size: 14px;
}
main .breadcrumbs li a {
	color: #4c1636
}
main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
	color: #30011d;
	pointer-events: none;
}
main .info-data {
	margin-top: 36px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
	grid-gap: 20px;
}
main .info-data .card {
	padding: 20px;
    margin: 15px;
	border-radius: 10px;
	background: var(--light);
	box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.203);
}
main .card .head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
main .card .head h2 {
	font-size: 24px;
	color: #81689D;
	font-weight: 600;
}
main .card .head p {
	font-size: 15px;
}

main .data {
	display: flex;
	grid-gap: 20px;
	margin-top: 20px;
	flex-wrap: wrap;
}
main .data .content-data {
	flex-grow: 1;
	flex-basis: 400px;
	padding: 20px;
	background: #FFD0EC;
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(185, 137, 220, 0.1);
	
}

.card input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    border: 2px solid rgba(67, 67, 67, 0.367);
    padding: 0 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: var(--violet)
}

.card input::placeholder {
    color: #1a1b1992;
}

.card button {
    width: 100%;
    background-color: var(--lightMagenta);
    color: #ececec;
    padding: 9px 0;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #873ab0ed;
    color: #ffffff;
}


/* Error Message */

.message {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 20px; /* Espacio entre el mensaje y la imagen */
}

.img-Error {
	margin-top: 20px; /* Espacio encima de la imagen */
	text-align: center;
}

.img-Error img {
	max-width: 100%;
	height: auto;
	padding: 10px; /* Espacio alrededor de la imagen */
}

ul {
	list-style-type: none;
	padding-left: 20px; /* Ajusta el valor según lo desees */
}

ul li {
	margin-bottom: 5px; /* Espacio entre elementos de la lista */
}

/* ICONS STYLE */

.bi-person-fill-gear {
    transform: translateX(45px);
}

.bi-cart-x-fill{
    transform:  translateX(45px); 
}

.bi-bag-x-fill {
	transform: translateX(45px);
}

.bi-hourglass-bottom {
transform: translateX(45px);
}

.bi-building {
transform: translateX(45px);
}

.bi-person-up {
	transform: translateX(45px);
}

.bi-person-dash {
	transform: translateX(50px);
}

.bi-person-vcard-fill {
	transform: translateX(50px);
}

.bi-person-standing {
	transform: translateX(50px);
}
.bi-list-ol {
	transform: translateX(90px);
}

#quantity {
	transform: translateX(50px);
	color: #81689D;
	font-size: 50px;
}
  











