@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Dancing Script', cursive;
}

h1 {
    font-weight: 700;
    color: #ddd8ff;
    font-size: 7vmin;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}


.flower {
    opacity: 0.7; /* Cambia este valor para ajustar la opacidad */
    filter: brightness(90%); /* Cambia este valor para ajustar la oscuridad */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.50); /* Escala la imagen al 75% de su tamaño original */
    z-index: -1; /* Ajusta el índice z según sea necesario para que la imagen esté detrás de los otros elementos */
}

.mandala {
    opacity: 1; /* Cambia este valor para ajustar la opacidad */
    filter: brightness(90%); /* Cambia este valor para ajustar la oscuridad */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.10); /* Escala la imagen al 75% de su tamaño original */
    z-index: -1; /* Ajusta el índice z según sea necesario para que la imagen esté detrás de los otros elementos */
}



*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes lightningAnimation {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}


body {
    background-color: #080710;
    animation: lightningAnimation 3s ease infinite alternate;
    background-size: 400%; /* Ajusta el tamaño vertical */
    background-image: linear-gradient(55deg, #201925, #53396ca4, #200c27);
    align-items: center;
    justify-content: center;
}


.header {
    text-align: center;
    padding: 20px 0;
}


.form {
    display: flex;
    justify-content: center;
    margin-top: 14rem;
    height: 80vh;
}

.formDiv {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.051);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.formDiv h4 {
    font-size: 40px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
}

.formDiv form {
    margin-top: 30px;
}

.formDiv label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.formDiv input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    border: 2px solid rgba(255, 255, 255, 0.07);
    padding: 0 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}

.formDiv input::placeholder {
    color: #c2b9b9;
}

.formDiv button {
    margin-top: 40px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formDiv button:hover {
    background-color: #af3ced52;
    color: #ffffff;
}

.redirect button {
    margin-top: 65px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.redirect button:hover {
    color: white;
    z-index: -1;
    background: linear-gradient( 90deg, #671f6776, #562a4c, #4a1167);
    background-size: 800%;
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 400% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

